# Node
node_modules/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Build outputs
dist/
build/

# Logs
npm-debug.log*
*.log

# Environment
.env

# Editor
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
.idea/

# OS
.DS_Store
Thumbs.db
